.hide {display: none !important;}

.input-view{
  overflow: hidden; overflow-wrap: break-word; border:none;
  background:transparent;border-radius:3px;box-shadow:none;resize:none}
  
@media (min-width: 992px) {
    .sitenav .content { padding: 0; }
}
.sitenav .navi .navi-item .navi-link {
    padding: 0.75em;
}

.sitenav .card.card-custom > .card-body {
    min-height: 110px;
    padding:2px;
}

.sitenav .editormd {border: none; min-height:320px;}
.sitenav .editormd-preview-active{padding:10px;}
.sitenav .editormd-preview-close-btn{top:6px; display:none !important;}
.sitenav .ql-editor {min-height: 200px;}
.sitenav .md-input {padding: 0 10px;}
.sitenav .md-preview {padding: 4px 10px;}
.sitenav .alert[data-notify] .close:before {content:""}

.sitenav-detail .card:hover{
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.view-editor p {
    margin-top: 0;
    margin-bottom: 1rem; }


.modal.modal-sticky.modal-sticky-bottom-left {
    padding: 0 !important;
    max-width: 500px;
    height: auto;
    position: fixed;
    left: 25px;
    top: auto;
    bottom: 25px;
    right: auto;
    margin: 0;
    -webkit-box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.2);
    border-radius: 0.42rem; }
    .modal.modal-sticky.modal-sticky-bottom-left .modal-dialog {
      position: static;
      max-width: 500px;
      width: auto;
      margin: 0;
      border-radius: 0.42rem; }
      .modal.modal-sticky.modal-sticky-bottom-left .modal-dialog .modal-content {
        border: 0;
        border-radius: 0.42rem; }
    .modal.modal-sticky.modal-sticky-bottom-left.modal-sticky-lg {
      max-width: 600px; }
      .modal.modal-sticky.modal-sticky-bottom-left.modal-sticky-lg .modal-dialog {
        max-width: 600px; }
    @media (max-width: 991.98px) {
      .modal.modal-sticky.modal-sticky-bottom-left {
        bottom: 10px;
        left: 10px; } }
    @media (max-width: 767.98px) {
      .modal.modal-sticky.modal-sticky-bottom-left {
        max-width: 90%; } }
  