<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
    <!--begin::Item-->
    <li class="nav-item mb-2" ng-click="quickPanelToggle=!quickPanelToggle" id="kt_demo_panel_toggle" data-toggle="tooltip" title="Check out more menus" data-placement="right">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-success btn-hover-success" href="javascript:void(0);">
            <i class="flaticon2-menu-4"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="nav-item mb-2" ng-click="topMenuToggle=!topMenuToggle" id="kt_top_menu_toggle" data-toggle="tooltip" title="Toggle top menu">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-warning btn-hover-warning" href="javascript:void(0);">
            <i class="flaticon2-sort-down"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="nav-item mb-2" data-toggle="tooltip" title="Layout Builder" data-placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-danger btn-hover-danger" href="https://preview.keenthemes.com/metronic/demo9/builder.html" target="_blank">
            <i class="flaticon2-gear"></i>
        </a>
    </li>
    <!--end::Item-->
</ul>